.gradle
.idea
sqlcipher/build
sqlciphertest/build
.DS_Store
*.iml
local.properties
sqlcipher/.cxx
sqlcipher/src/main/jni/sqlcipher/*.c
sqlcipher/src/main/jni/sqlcipher/*.h
sqlcipher/src/main/jni/sqlcipher/android-libs
build