.gradle
.idea
sqlcipher/build
sqlciphertest/build
.DS_Store
*.iml
local.properties
sqlcipher/.cxx
sqlcipher/src/main/jni/sqlcipher/sqlite3.c
sqlcipher/src/main/jni/sqlcipher/sqlite3.h
sqlcipher/src/main/jni/sqlcipher/android-libs
build