[submodule "sqlcipher/src/main/jni/libtomcrypt/src"]
	path = sqlcipher/src/main/jni/libtomcrypt/src
	url = https://github.com/sqlcipher/libtomcrypt
[submodule "sqlcipher/src/main/jni/sqlcipher/src"]
	path = sqlcipher/src/main/jni/sqlcipher/src
	url = https://github.com/sqlcipher/sqlcipher
